
* {
  font-size: 35px;
  font-weight: bold;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  background: hsl(212, 45%, 89%);
}

div > p:last-of-type {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  transform: translateY(-7px);
  font-family: 'Outfit', sans-serif;
}

h6 {
  font-size: 26px;
  color: hsl(218, 44%, 22%);
  padding: 10px;
  text-align: center;
  margin: 29px 0 0 0;
  font-family: 'Outfit', sans-serif;
}

img {
  width: 90%;
  height: 59%;
  transform: translate(21px, 22px);
  border-radius: 10px;
}

.parent {
  position: relative;
  width: 600px;
  height: 670px;
  margin: 95px auto;
}

.child {
  width: 65%;
  height: 90%;
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow:1px 6px 9px 0px #8c8c8f;
}

.center {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.parent {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 150px auto;
}

.child {
  width: 65%;
  height: 90%;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
